<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>{{title}}</title>
  </head>

  <body>
    <div id="main-container">
      <header class="mb-5">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Ping Metter</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <span class="navbar-nav me-auto"> </span>
              <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main class="main-index d-flex justify-content-center align-items-center">
        <div
          id="content"
          class="container d-flex flex-column justify-content-center align-items-center"
        >
          <h2 class="text-center mb-5">How much did you ping last game?</h2>
          <form id="summoner-form" class="d-flex" role="search">
            <input
              id="summoner-form-input"
              class="form-control me-2"
              type="search"
              placeholder="Summoner name..."
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          <div id="data-display" class="mb-5">
            <div id="summoner-data" class="alert alert-secondary d-none">
            </div>
            <div id="ping-badges" class="px-2 py-2">
              <span id="chill-badge" class="badge bg-success d-none">Chill</span>
              <span id="cautious-badge" class="badge bg-success d-none">Cautious</span>
              <span id="vision-badge" class="badge bg-success d-none">Vision Enjoyer</span>
              <span id="leader-badge" class="badge bg-light d-none">Leader</span>
              <span id="helpful-badge" class="badge bg-light d-none">Helpful</span>
              <span id="communicative-badge" class="badge bg-light d-none">Communicative</span>
              <span id="angry-badge" class="badge bg-danger d-none">Angry</span>
            </div>
            <ul id="pings-data" class="d-none p-4">
              <li id="allInPings" class="ping"></li>
              <li id="assistMePings" class="ping"></li>
              <li id="baitPings" class="ping"></li>
              <li id="basicPings" class="ping"></li>
              <li id="commandPings" class="ping"></li>
              <li id="dangerPings" class="ping"></li>
              <li id="enemyMissingPings" class="ping"></li>
              <li id="enemyVisionPings" class="ping"></li>
              <li id="getBackPings" class="ping"></li>
              <li id="holdPings" class="ping"></li>
              <li id="needVisionPings" class="ping"></li>
              <li id="onMyWayPings" class="ping"></li>
              <li id="pushPings" class="ping"></li>
            </ul>
          </div>
        </div>
      </main>

      <footer id="footer">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 d-flex flex-column align-items-center">
            <p id="made-by" class="text-center">
              Made by
              <a href="https://github.com/JoelEncinas" target="_blank">Joel
                Encinas</a>
            </p>
            <p id="endorsement" class="text-center">
              Ping Metter isn't endorsed by Riot Games and doesn't reflect the
              views or opinions of Riot Games or anyone officially involved in
              producing or managing League of Legends. League of Legends and
              Riot Games are trademarks or registered trademarks of Riot Games,
              Inc. League of Legends © Riot Games, Inc.
            </p>
          </div>
          <div class="col-2"></div>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <script src="js/app.js"></script>
  </body>

</html>