body {
    overflow-x: hidden;
}

main {
    margin-top: 15vh;
    min-height: 60vh;
}

#content {
    max-width: 600px;
}

#not-found {
    height: 100%;
    width: 90px;
}

#made-by {
    font-size: 16px;
}

#theme {
    font-size: 14px;
}

#endorsement {
    font-size: 10px;
}