body {
    overflow-x: hidden;
}

.main-index {
    min-height: 73vh;
}

.main-about,
.main-404 {
    min-height: 100vh;
}

#content {
    max-width: 600px;
}

#not-found {
    height: 100%;
    width: 90px;
}

#made-by {
    font-size: 16px;
}

#theme {
    font-size: 14px;
}

#data-display {
    min-width: 300px;
}

.level {
    font-size: 12px;
}

#summoner-data {
    padding: 4px 10px !important;
}

#summoner-info {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.badge {
    padding: 4px !important;
    margin: 4px 4px !important;
}

.badge:hover {
    cursor: help !important;
}

#summoner-lane {
    width: 25px;
    height: 100%;
    border-radius: 5px;
}

#summoner-champion {
    display: inline-block;
}

#pings-data {
    list-style: none;
    padding-left: 0;
    margin-block-start: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.ping-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.ping-image:hover {
    cursor: help;
}

.progress {
    display: flex;
    align-items: center;
    height: 30px !important;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress-bar {
    height: 15px !important;
    border-radius: 4px;
}

.ping-tooltip {
    margin-left: 10px;
}

#endorsement {
    font-size: 10px;
    max-width: 400px;
}