body {
    overflow-x: hidden;
}

.main-index {
    margin-top: 15vh;
    min-height: 69vh;
}

.main-about,
.main-404 {
    min-height: 100vh;
}

#content {
    max-width: 600px;
}

#not-found {
    height: 100%;
    width: 90px;
}

#made-by {
    font-size: 16px;
}

#theme {
    font-size: 14px;
}

#pings-data {
    list-style: none;
}

.ping-image {
    width: 50px;
    height: 100%;
}

#endorsement {
    font-size: 10px;
    max-width: 400px;
}